body {
  background-color: #bfe9cc;
  color: #060a0c;
  font-size: 20px;
}

.main-header1 {
  color: #091614;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: px;
  margin-left: 15vw;
  margin-right: 15vw;
  background-color: #387e71;
  padding: 20px 20px;
  border: solid #082717 3px;
  font-size: 6x-large;
}

.post1 {
  border: solid #041a17;
  height: 500px;
  width: 450px;
  margin-left: 10vw;
  bottom: 30%;
  position: absolute;
}

.post-header1 {
  color: #154b2c;
  text-align: center;
  margin-top: 0px;
  margin-left: 3vw;
  background-color: #5a9c76;
  padding: 20px 40px;
  border: solid #113d37 2px;
  font-size: x-large;
  position: absolute;
}

.post2 {
  border: solid #041a17;
  height: 500px;
  width: 450px;
  margin-left: 38%;
  bottom: 30%;
  position: absolute;
}

.post-header2 {
  color: #154b2c;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 3vw;
  background-color: #5a9c76;
  padding: 20px 40px;
  border: solid #113d37 2px;
  font-size: x-large;
  position: absolute;
}

.post3 {
  border: solid #041a17;
  height: 500px;
  width: 450px;
  margin-left: 66vw;
  bottom: 30%;
  position: absolute;
}

.post-header3 {
  color: #154b2c;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 2.3vw;
  background-color: #5a9c76;
  padding: 20px 40px;
  border: solid #113d37 2px;
  font-size: x-large;
  position: absolute;
}
